[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
memory-profiler = "*"
requests = "*"
pyjwt = "*"
asyncio = "*"
gtts = "*"
pygame = "*"
playsound = "*"
speechrecognition = "*"
pyttsx3 = "*"
pyaudio = "*"

[requires]
python_version = "3.7"
